# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.
# DATABASE_URL="file:./db.sqlite"

DATABASE_URL="mysql://ih_zonaid:Aaa%40%40%4011@db4free.net:3306/estoredb"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="vongCong"
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID="1149038175755436135"
DISCORD_CLIENT_SECRET="H3TMmZr9QX24OZbdPBuLmFXPZIh32afy"
GOOGLE_CLIENT_ID="538048408898-1ft0r2f3bc9ev2tn678hq2lheo6beh7l.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"